annotated-types==0.5.0
asgiref==3.7.2
asttokens==2.4.0
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
backcall==0.2.0
cffi==1.15.1
channels==4.0.0
colorama==0.4.6
constantly==15.1.0
cryptography==41.0.4
daphne==4.0.0
decorator==5.1.1
Django==4.2.5
djangorestframework==3.14.0
executing==2.0.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipython==8.16.1
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.39
psycopg==3.1.12
psycopg2==2.9.9
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-decouple==3.8
pytz==2023.3.post1
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.11.2
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.8.0
tzdata==2023.3
wcwidth==0.2.8
zope.interface==6.0
